.pol_nav_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 70%;
    margin-bottom: 10px;
}
a .nav_item{
    background-color: #5c3ed7;
    color: #fff;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    transition: .3s all;
}
.nav_item.active {
    background-color: red;
    color: white; /* Set text color for the active state */
  }
@media(max-width:1000px){
    a .nav_item{
        font-size: 10px;
    }
}
@media (max-width:650px){
    .pol_nav_container{
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: space-evenly;
        }
        .nav_item{
            width: 100px;
            display: flex;
            justify-content: center;
        }
}