/* ranking */

.ranking-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .ranking-table th, .ranking-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ranking-table th {
    background-color: #f2f2f2;
  }
  
  .logo {
    max-width: 50px;
  }
  
  .view-feed-btn {
    padding: 8px 12px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
/*   
  ranking */

/* feedback */
.station_title{
    color:  #5C3ED7;
    width: fit-content;
    padding: 5px 10px 5px 10px;
    border-bottom: 2px solid blue;

}
h1{
    color:  #5C3ED7;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

  }

  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:hover {
    background-color: #f5f5f5;
  }

  td:first-child {
    font-weight: bold;
  }

  td:last-child {
    text-transform: capitalize;
    color: #007bff;
  }