.id_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;
    border-radius: 4px;
    padding: 2px 4px 2px 4px;
    border: 1px solid rgb(195, 195, 201);
}
.logo{
    width: 40px;
    height: 40px;
}
.id_container .logo img{
    width: 100%;
}
